In [1]:
# Imports
import pandas as pd

In [2]:
#look at IRS data
irs = pd.read_csv("./Data/17zpallagi.csv")

In [3]:
irs

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,ELF,CPREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,1,AL,0,1,802640.0,474470.0,99850.0,216600.0,717050.0,44090.0,...,0.0,0.0,64680.0,53602.0,700940.0,1803125.0,698100.0,1796343.0,2860.0,4917.0
1,1,AL,0,2,499070.0,218590.0,137460.0,129760.0,448190.0,26230.0,...,0.0,0.0,77660.0,118725.0,419640.0,1175607.0,416180.0,1165352.0,4250.0,8894.0
2,1,AL,0,3,268590.0,89780.0,134440.0,38280.0,241060.0,14160.0,...,0.0,0.0,67820.0,156752.0,201030.0,560461.0,197060.0,547812.0,5440.0,13482.0
3,1,AL,0,4,170880.0,32180.0,124070.0,11660.0,154120.0,7980.0,...,0.0,0.0,48440.0,141721.0,121930.0,396526.0,118460.0,383588.0,3160.0,12369.0
4,1,AL,0,5,229870.0,22810.0,196990.0,5540.0,208380.0,11120.0,...,50.0,19.0,91100.0,465160.0,138250.0,588068.0,130970.0,529001.0,8430.0,55564.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166532,56,WY,99999,2,3630.0,2040.0,1030.0,440.0,3240.0,160.0,...,0.0,0.0,550.0,889.0,2960.0,7332.0,2890.0,7127.0,60.0,70.0
166533,56,WY,99999,3,2470.0,1020.0,1220.0,200.0,2230.0,120.0,...,0.0,0.0,570.0,1258.0,1810.0,5299.0,1740.0,5020.0,70.0,164.0
166534,56,WY,99999,4,1820.0,520.0,1200.0,100.0,1680.0,80.0,...,0.0,0.0,440.0,1644.0,1300.0,4643.0,1250.0,4069.0,50.0,197.0
166535,56,WY,99999,5,2480.0,390.0,2020.0,80.0,2290.0,130.0,...,0.0,0.0,820.0,4527.0,1570.0,7633.0,1410.0,6069.0,170.0,1189.0
166536,56,WY,99999,6,700.0,130.0,600.0,0.0,680.0,60.0,...,450.0,4298.0,330.0,13882.0,320.0,23131.0,140.0,1672.0,190.0,19241.0

In [4]:
eatery = pd.read_csv("./Data/Datafiniti_Vegetarian_and_Vegan_Restaurants.csv")

In [5]:
eatery

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,claimed,country,cuisines,...,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province,sic,sourceURLs,twitter,websites,yearOpened
0,AVwd3yXEkufWRAb59-sH,2016-04-22T02:47:48Z,2018-09-10T21:00:49Z,1045 San Pablo Ave,"Restaurant,Asian/Pacific,Cafe,Vegetarian / Veg...",Accommodation & Food Services,Albany,NaN,US,"Thai,Asian/Pacific,Vegetarian",...,94706,NaN,NaN,NaN,CA,NaN,https://foursquare.com/v/potala-organic-cafe/4...,NaN,"http://www.potala.us/,http://potala.us",NaN
1,AVwd3yXEkufWRAb59-sH,2016-04-22T02:47:48Z,2018-09-10T21:00:49Z,1045 San Pablo Ave,"Restaurant,Asian/Pacific,Cafe,Vegetarian / Veg...",Accommodation & Food Services,Albany,NaN,US,"Thai,Asian/Pacific,Vegetarian",...,94706,NaN,NaN,NaN,CA,NaN,https://foursquare.com/v/potala-organic-cafe/4...,NaN,"http://www.potala.us/,http://potala.us",NaN
2,AVwd3yXEkufWRAb59-sH,2016-04-22T02:47:48Z,2018-09-10T21:00:49Z,1045 San Pablo Ave,"Restaurant,Asian/Pacific,Cafe,Vegetarian / Veg...",Accommodation & Food Services,Albany,NaN,US,"Thai,Asian/Pacific,Vegetarian",...,94706,NaN,NaN,NaN,CA,NaN,https://foursquare.com/v/potala-organic-cafe/4...,NaN,"http://www.potala.us/,http://potala.us",NaN
3,AVwd3yXEkufWRAb59-sH,2016-04-22T02:47:48Z,2018-09-10T21:00:49Z,1045 San Pablo Ave,"Restaurant,Asian/Pacific,Cafe,Vegetarian / Veg...",Accommodation & Food Services,Albany,NaN,US,"Thai,Asian/Pacific,Vegetarian",...,94706,NaN,NaN,NaN,CA,NaN,https://foursquare.com/v/potala-organic-cafe/4...,NaN,"http://www.potala.us/,http://potala.us",NaN
4,AVwd3yXEkufWRAb59-sH,2016-04-22T02:47:48Z,2018-09-10T21:00:49Z,1045 San Pablo Ave,"Restaurant,Asian/Pacific,Cafe,Vegetarian / Veg...",Accommodation & Food Services,Albany,NaN,US,"Thai,Asian/Pacific,Vegetarian",...,94706,NaN,NaN,NaN,CA,NaN,https://foursquare.com/v/potala-organic-cafe/4...,NaN,"http://www.potala.us/,http://potala.us",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,AVwd88lK_7pvs4fz-toI,2016-03-28T05:35:40Z,2018-01-09T08:01:08Z,1335 W Thomas Rd,"Vegetarian / Vegan Restaurant,Restaurant,Medit...",Accommodation & Food Services,Phoenix,NaN,US,"Mediterranean,Vegetarian,Persian,Middle Eastern",...,85013,USD,40.0,55.0,AZ,NaN,https://foursquare.com/v/persian-garden-cafe/4...,NaN,"http://persiangardencafe.com,http://www.persia...",NaN
9996,AVwd88lK_7pvs4fz-toI,2016-03-28T05:35:40Z,2018-01-09T08:01:08Z,1335 W Thomas Rd,"Vegetarian / Vegan Restaurant,Restaurant,Medit...",Accommodation & Food Services,Phoenix,NaN,US,"Mediterranean,Vegetarian,Persian,Middle Eastern",...,85013,USD,40.0,55.0,AZ,NaN,https://foursquare.com/v/persian-garden-cafe/4...,NaN,"http://persiangardencafe.com,http://www.persia...",NaN
9997,AVwd88lK_7pvs4fz-toI,2016-03-28T05:35:40Z,2018-01-09T08:01:08Z,1335 W Thomas Rd,"Vegetarian / Vegan Restaurant,Restaurant,Medit...",Accommodation & Food Services,Phoenix,NaN,US,"Mediterranean,Vegetarian,Persian,Middle Eastern",...,85013,USD,40.0,55.0,AZ,NaN,https://foursquare.com/v/persian-garden-cafe/4...,NaN,"http://persiangardencafe.com,http://www.persia...",NaN
9998,AVwd88lK_7pvs4fz-toI,2016-03-28T05:35:40Z,2018-01-09T08:01:08Z,1335 W Thomas Rd,"Vegetarian / Vegan Restaurant,Restaurant,Medit...",Accommodation & Food Services,Phoenix,NaN,US,"Mediterranean,Vegetarian,Persian,Middle Eastern",...,85013,USD,40.0,55.0,AZ,NaN,https://foursquare.com/v/persian-garden-cafe/4...,NaN,"http://persiangardencafe.com,http://www.persia...",NaN
9999,AVwd88lK_7pvs4fz-toI,2016-03-28T05:35:40Z,2018-01-09T08:01:08Z,1335 W Thomas Rd,"Vegetarian / Vegan Restaurant,Restaurant,Medit...",Accommodation & Food Services,Phoenix,NaN,US,"Mediterranean,Vegetarian,Persian,Middle Eastern",...,85013,USD,40.0,55.0,AZ,NaN,https://foursquare.com/v/persian-garden-cafe/4...,NaN,"http://persiangardencafe.com,http://www.persia...",NaN

In [6]:
eatery.province.value_counts()

NY    5361
CA    1019
FL     528
IL     451
TX     390
NC     323
OR     316
PA     271
VA     268
WA     198
AZ     166
MA     144
UT     100
MI      95
MN      75
NM      66
NH      50
WI      47
NJ      42
KS      28
HI      26
TN      17
ME       8
NV       6
GA       5
Name: province, dtype: int64

In [7]:
ny_mask =  eatery.province == "NY"
ny = eatery[ny_mask]

In [8]:
ny

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,claimed,country,cuisines,...,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province,sic,sourceURLs,twitter,websites,yearOpened
37,AVzHCLzmLD2H7whiWY6R,2017-06-20T19:44:17Z,2018-09-02T10:36:59Z,2265 Broadway,"Restaurant,Juice Bars,Smoothies and Juices,Veg...",Accommodation & Food Services,New York,NaN,US,"Smoothies and Juices,Vegetarian,Healthy",...,10024,NaN,NaN,NaN,NY,NaN,https://www.allmenus.com/ny/new-york/476309-gr...,NaN,"http://www.greenforcejuice.com,http://greenfor...",NaN
38,AVzHCLzmLD2H7whiWY6R,2017-06-20T19:44:17Z,2018-09-02T10:36:59Z,2265 Broadway,"Restaurant,Juice Bars,Smoothies and Juices,Veg...",Accommodation & Food Services,New York,NaN,US,"Smoothies and Juices,Vegetarian,Healthy",...,10024,NaN,NaN,NaN,NY,NaN,https://www.allmenus.com/ny/new-york/476309-gr...,NaN,"http://www.greenforcejuice.com,http://greenfor...",NaN
39,AVzHCLzmLD2H7whiWY6R,2017-06-20T19:44:17Z,2018-09-02T10:36:59Z,2265 Broadway,"Restaurant,Juice Bars,Smoothies and Juices,Veg...",Accommodation & Food Services,New York,NaN,US,"Smoothies and Juices,Vegetarian,Healthy",...,10024,NaN,NaN,NaN,NY,NaN,https://www.allmenus.com/ny/new-york/476309-gr...,NaN,"http://www.greenforcejuice.com,http://greenfor...",NaN
40,AVzHCLzmLD2H7whiWY6R,2017-06-20T19:44:17Z,2018-09-02T10:36:59Z,2265 Broadway,"Restaurant,Juice Bars,Smoothies and Juices,Veg...",Accommodation & Food Services,New York,NaN,US,"Smoothies and Juices,Vegetarian,Healthy",...,10024,NaN,NaN,NaN,NY,NaN,https://www.allmenus.com/ny/new-york/476309-gr...,NaN,"http://www.greenforcejuice.com,http://greenfor...",NaN
41,AVzHCLzmLD2H7whiWY6R,2017-06-20T19:44:17Z,2018-09-02T10:36:59Z,2265 Broadway,"Restaurant,Juice Bars,Smoothies and Juices,Veg...",Accommodation & Food Services,New York,NaN,US,"Smoothies and Juices,Vegetarian,Healthy",...,10024,NaN,NaN,NaN,NY,NaN,https://www.allmenus.com/ny/new-york/476309-gr...,NaN,"http://www.greenforcejuice.com,http://greenfor...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9847,AV8wVUZERxPSIh2RltJ4,2017-10-18T16:27:36Z,2018-01-30T05:17:58Z,321 W 49th St,"Restaurant,Salads,Vegetarian",Accommodation & Food Services,New York,NaN,US,"Salads,Vegetarian",...,10019,NaN,NaN,NaN,NY,NaN,https://www.allmenus.com/ny/new-york/321208-ju...,NaN,http://justsalad.com,NaN
9848,AV8wVUZERxPSIh2RltJ4,2017-10-18T16:27:36Z,2018-01-30T05:17:58Z,321 W 49th St,"Restaurant,Salads,Vegetarian",Accommodation & Food Services,New York,NaN,US,"Salads,Vegetarian",...,10019,NaN,NaN,NaN,NY,NaN,https://www.allmenus.com/ny/new-york/321208-ju...,NaN,http://justsalad.com,NaN
9849,AV8wVUZERxPSIh2RltJ4,2017-10-18T16:27:36Z,2018-01-30T05:17:58Z,321 W 49th St,"Restaurant,Salads,Vegetarian",Accommodation & Food Services,New York,NaN,US,"Salads,Vegetarian",...,10019,NaN,NaN,NaN,NY,NaN,https://www.allmenus.com/ny/new-york/321208-ju...,NaN,http://justsalad.com,NaN
9850,AV8wVUZERxPSIh2RltJ4,2017-10-18T16:27:36Z,2018-01-30T05:17:58Z,321 W 49th St,"Restaurant,Salads,Vegetarian",Accommodation & Food Services,New York,NaN,US,"Salads,Vegetarian",...,10019,NaN,NaN,NaN,NY,NaN,https://www.allmenus.com/ny/new-york/321208-ju...,NaN,http://justsalad.com,NaN
9851,AV8wVUZERxPSIh2RltJ4,2017-10-18T16:27:36Z,2018-01-30T05:17:58Z,321 W 49th St,"Restaurant,Salads,Vegetarian",Accommodation & Food Services,New York,NaN,US,"Salads,Vegetarian",...,10019,NaN,NaN,NaN,NY,NaN,https://www.allmenus.com/ny/new-york/321208-ju...,NaN,http://justsalad.com,NaN

### To Do
- Drop columns with to many NaN
- Decide if I want to look at all States and cities or focus on larger cities
- Go over resource page for IRS info

## Look at Yelp Datasets

In [10]:
yelp = pd.read_json("./yelp_dataset/yelp_academic_dataset_business.json", lines=True)

In [11]:
yelp.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,0,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Hardware Stores, Home Services, Building Suppl...","{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."

In [15]:
yelp.categories.nunique()

102494

## Look at Zomato Dataset

In [20]:
zomato_csv = pd.read_csv("./food_data/zomato.csv", encoding='ISO-8859-1')

In [22]:
zomato_csv.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [24]:
zomato_csv.shape

(9551, 21)

In [45]:
zomato_csv.Cuisines.str.contains("Vegetarian")

0       False
1       False
2       False
3       False
4       False
        ...
9546    False
9547    False
9548    False
9549    False
9550    False
Name: Cuisines, Length: 9551, dtype: object